body {
    background-color: #c02d2d;
    color : black;
    font-family: arial,sans-serif;
}
h1{
   color: #1f2937;
   font-size: 40px; 
}
.section {
     background-color: rgb(243, 255, 249);
}
#perfil{
     background-color:#306ac9;
}